<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.sam.dao.TSamOauthClientMapper" >
  <resultMap id="BaseResultMap" type="com.ai.sam.domain.TSamOauthClient" >
    <id column="CLIENT_ID" property="clientId" jdbcType="VARCHAR" />
    <result column="CLIENT_NAME" property="clientName" jdbcType="VARCHAR" />
    <result column="CLIENT_SECRET" property="clientSecret" jdbcType="VARCHAR" />
    <result column="CLIENT_DESC" property="clientDesc" jdbcType="VARCHAR" />
    <result column="REDIRECT_URI" property="redirectUri" jdbcType="VARCHAR" />
    <result column="ACCESS_TOKEN_VALIDITY" property="accessTokenValidity" jdbcType="INTEGER" />
    <result column="REFRESH_TOKEN_VALIDITY" property="refreshTokenValidity" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="GRANT_TYPES" property="grantTypes" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseOuthClientMap" type="java.util.Map" >
    <id column="CLIENT_ID" property="clientId" jdbcType="VARCHAR" />
    <result column="CLIENT_NAME" property="clientName" jdbcType="VARCHAR" />
    <result column="CLIENT_SECRET" property="clientSecret" jdbcType="VARCHAR" />
    <result column="CLIENT_DESC" property="clientDesc" jdbcType="VARCHAR" />
    <result column="REDIRECT_URI" property="redirectUri" jdbcType="VARCHAR" />
    <result column="ACCESS_TOKEN_VALIDITY" property="accessTokenValidity" jdbcType="INTEGER" />
    <result column="REFRESH_TOKEN_VALIDITY" property="refreshTokenValidity" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="GRANT_TYPES" property="grantTypes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CLIENT_ID, CLIENT_NAME, CLIENT_SECRET, CLIENT_DESC, REDIRECT_URI, ACCESS_TOKEN_VALIDITY, 
    REFRESH_TOKEN_VALIDITY, STATE, GRANT_TYPES
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.sam.domain.TSamOauthClientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sam_oauth_client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sam_oauth_client
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sam_oauth_client
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.sam.domain.TSamOauthClientExample" >
    delete from t_sam_oauth_client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.sam.domain.TSamOauthClient" >
    insert into t_sam_oauth_client (CLIENT_ID, CLIENT_NAME, CLIENT_SECRET, 
      CLIENT_DESC, REDIRECT_URI, ACCESS_TOKEN_VALIDITY, 
      REFRESH_TOKEN_VALIDITY, STATE, GRANT_TYPES
      )
    values (#{clientId,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, 
      #{clientDesc,jdbcType=VARCHAR}, #{redirectUri,jdbcType=VARCHAR}, #{accessTokenValidity,jdbcType=INTEGER}, 
      #{refreshTokenValidity,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{grantTypes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.sam.domain.TSamOauthClient" >
    insert into t_sam_oauth_client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="clientName != null" >
        CLIENT_NAME,
      </if>
      <if test="clientSecret != null" >
        CLIENT_SECRET,
      </if>
      <if test="clientDesc != null" >
        CLIENT_DESC,
      </if>
      <if test="redirectUri != null" >
        REDIRECT_URI,
      </if>
      <if test="accessTokenValidity != null" >
        ACCESS_TOKEN_VALIDITY,
      </if>
      <if test="refreshTokenValidity != null" >
        REFRESH_TOKEN_VALIDITY,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="grantTypes != null" >
        GRANT_TYPES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null" >
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientDesc != null" >
        #{clientDesc,jdbcType=VARCHAR},
      </if>
      <if test="redirectUri != null" >
        #{redirectUri,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null" >
        #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null" >
        #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="grantTypes != null" >
        #{grantTypes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.sam.domain.TSamOauthClientExample" resultType="java.lang.Integer" >
    select count(*) from t_sam_oauth_client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sam_oauth_client
    <set >
      <if test="record.clientId != null" >
        CLIENT_ID = #{record.clientId,jdbcType=VARCHAR},
      </if>
      <if test="record.clientName != null" >
        CLIENT_NAME = #{record.clientName,jdbcType=VARCHAR},
      </if>
      <if test="record.clientSecret != null" >
        CLIENT_SECRET = #{record.clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.clientDesc != null" >
        CLIENT_DESC = #{record.clientDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.redirectUri != null" >
        REDIRECT_URI = #{record.redirectUri,jdbcType=VARCHAR},
      </if>
      <if test="record.accessTokenValidity != null" >
        ACCESS_TOKEN_VALIDITY = #{record.accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="record.refreshTokenValidity != null" >
        REFRESH_TOKEN_VALIDITY = #{record.refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.grantTypes != null" >
        GRANT_TYPES = #{record.grantTypes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sam_oauth_client
    set CLIENT_ID = #{record.clientId,jdbcType=VARCHAR},
      CLIENT_NAME = #{record.clientName,jdbcType=VARCHAR},
      CLIENT_SECRET = #{record.clientSecret,jdbcType=VARCHAR},
      CLIENT_DESC = #{record.clientDesc,jdbcType=VARCHAR},
      REDIRECT_URI = #{record.redirectUri,jdbcType=VARCHAR},
      ACCESS_TOKEN_VALIDITY = #{record.accessTokenValidity,jdbcType=INTEGER},
      REFRESH_TOKEN_VALIDITY = #{record.refreshTokenValidity,jdbcType=INTEGER},
      STATE = #{record.state,jdbcType=VARCHAR},
      GRANT_TYPES = #{record.grantTypes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.sam.domain.TSamOauthClient" >
    update t_sam_oauth_client
    <set >
      <if test="clientName != null" >
        CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        CLIENT_SECRET = #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientDesc != null" >
        CLIENT_DESC = #{clientDesc,jdbcType=VARCHAR},
      </if>
      <if test="redirectUri != null" >
        REDIRECT_URI = #{redirectUri,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null" >
        ACCESS_TOKEN_VALIDITY = #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null" >
        REFRESH_TOKEN_VALIDITY = #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="grantTypes != null" >
        GRANT_TYPES = #{grantTypes,jdbcType=VARCHAR},
      </if>
    </set>
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.sam.domain.TSamOauthClient" >
    update t_sam_oauth_client
    set CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      CLIENT_SECRET = #{clientSecret,jdbcType=VARCHAR},
      CLIENT_DESC = #{clientDesc,jdbcType=VARCHAR},
      REDIRECT_URI = #{redirectUri,jdbcType=VARCHAR},
      ACCESS_TOKEN_VALIDITY = #{accessTokenValidity,jdbcType=INTEGER},
      REFRESH_TOKEN_VALIDITY = #{refreshTokenValidity,jdbcType=INTEGER},
      STATE = #{state,jdbcType=VARCHAR},
      GRANT_TYPES = #{grantTypes,jdbcType=VARCHAR}
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </update>



  <select id="selectClientInfoById" resultMap="BaseOuthClientMap" parameterType="java.util.Map" >
    select * from t_sam_oauth_client where  CLIENT_ID =#{clientId}
  </select>

  <select id="selectOauthClient" resultMap="BaseOuthClientMap" parameterType="java.util.Map" >
    select * from t_sam_oauth_client where 1=1
    <if test="clientId != null &amp; clientId != ''" >
      AND CLIENT_ID like CONCAT('%',#{clientId},'%')
    </if>
    <if test="clientName != null &amp; clientName != ''" >
      AND CLIENT_NAME like CONCAT('%',#{clientName},'%')
    </if>
    <if test="clientSecret != null &amp; clientSecret != ''" >
      AND CLIENT_SECRET = #{clientSecret,jdbcType=VARCHAR}
    </if>
    <if test="clientDesc != null &amp; clientDesc != ''" >
      AND CLIENT_DESC like CONCAT('%',#{clientDesc},'%')
    </if>
    <if test="redirectUri != null &amp; redirectUri != ''">
      AND REDIRECT_URI like CONCAT('%',#{redirectUri},'%')
    </if>
    <if test="accessTokenValidity != null &amp; accessTokenValidity != ''" >
      AND ACCESS_TOKEN_VALIDITY = #{accessTokenValidity,jdbcType=INTEGER}
    </if>
    <if test="refreshTokenValidity != null &amp; refreshTokenValidity != ''" >
      AND REFRESH_TOKEN_VALIDITY = #{refreshTokenValidity,jdbcType=INTEGER}
    </if>
    <if test="state != null &amp; state != ''&amp; state != '00'" >
      AND STATE = #{state,jdbcType=VARCHAR}
    </if>
    <if test="grantTypes != null &amp; grantTypes != ''" >
      AND GRANT_TYPES = #{grantTypes,jdbcType=VARCHAR}
    </if>
    <if test="limit != null and limit != '' " >
      limit ${start},${limit}
    </if>
  </select>

  <select id="selectOauthClient2" resultMap="BaseOuthClientMap" parameterType="java.util.Map" >
    select * from t_sam_oauth_client  where 1=1
    <if test="clientId != null &amp; clientId != ''">
      AND CLIENT_ID =#{clientId}
    </if>
  </select>
  <select id="selectOauthClientCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) from t_sam_oauth_client  where 1=1
    <if test="clientId != null &amp; clientId != ''" >
      AND CLIENT_ID like CONCAT('%',#{clientId},'%')
    </if>
    <if test="clientName != null &amp; clientName != ''" >
      AND CLIENT_NAME like CONCAT('%',#{clientName},'%')
    </if>
    <if test="clientSecret != null &amp; clientSecret != ''" >
      AND CLIENT_SECRET = #{clientSecret,jdbcType=VARCHAR}
    </if>
    <if test="clientDesc != null &amp; clientDesc != ''" >
      AND CLIENT_DESC like CONCAT('%',#{clientDesc},'%')
    </if>
    <if test="redirectUri != null &amp; redirectUri != ''">
      AND REDIRECT_URI like CONCAT('%',#{redirectUri},'%')
    </if>
    <if test="accessTokenValidity != null &amp; accessTokenValidity != ''" >
      AND ACCESS_TOKEN_VALIDITY = #{accessTokenValidity,jdbcType=INTEGER}
    </if>
    <if test="refreshTokenValidity != null &amp; refreshTokenValidity != ''" >
      AND REFRESH_TOKEN_VALIDITY = #{refreshTokenValidity,jdbcType=INTEGER}
    </if>
    <if test="state != null &amp; state != ''&amp; state != '00'" >
      AND STATE = #{state,jdbcType=VARCHAR}
    </if>
    <if test="grantTypes != null &amp; grantTypes != ''" >
      AND GRANT_TYPES = #{grantTypes,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="updateOauthClient" parameterType="java.util.Map" >
    update t_sam_oauth_client
    <set >
      <if test="clientName != null" >
        CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        CLIENT_SECRET = #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientDesc != null" >
        CLIENT_DESC = #{clientDesc,jdbcType=VARCHAR},
      </if>
      <if test="redirectUri != null" >
        REDIRECT_URI = #{redirectUri,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null" >
        ACCESS_TOKEN_VALIDITY = #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null" >
        REFRESH_TOKEN_VALIDITY = #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="grantTypes != null" >
        GRANT_TYPES = #{grantTypes,jdbcType=VARCHAR},
      </if>
    </set>
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </update>
  <insert id="insertOauthClient" parameterType="java.util.Map"  >
    insert into t_sam_oauth_client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="clientName != null" >
        CLIENT_NAME,
      </if>
      <if test="clientSecret != null" >
        CLIENT_SECRET,
      </if>
      <if test="clientDesc != null" >
        CLIENT_DESC,
      </if>
      <if test="redirectUri != null" >
        REDIRECT_URI,
      </if>
      <if test="accessTokenValidity != null" >
        ACCESS_TOKEN_VALIDITY,
      </if>
      <if test="refreshTokenValidity != null" >
        REFRESH_TOKEN_VALIDITY,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="grantTypes != null" >
        GRANT_TYPES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null" >
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientDesc != null" >
        #{clientDesc,jdbcType=VARCHAR},
      </if>
      <if test="redirectUri != null" >
        #{redirectUri,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null" >
        #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null" >
        #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="grantTypes != null" >
        #{grantTypes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteOauthClient" parameterType="java.lang.String" >
    delete from t_sam_oauth_client
    where CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </delete>
</mapper>