<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.sam.dao.TSamMenuMapper" >
  <resultMap id="BaseResultMap" type="com.ai.sam.domain.TSamMenu" >
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_DESCRIPTION" property="menuDescription" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="DISPLAY_NO" property="displayNo" jdbcType="SMALLINT" />
    <result column="OPEN_MODULE" property="openModule" jdbcType="CHAR" />
    <result column="CLICK_TOTAL" property="clickTotal" jdbcType="BIGINT" />
    <result column="ABBREVIATION" property="abbreviation" jdbcType="VARCHAR" />
    <result column="NESTED_SYS_TYPE" property="nestedSysType" jdbcType="VARCHAR" />
    <result column="MENU_WIDE" property="menuWide" jdbcType="VARCHAR" />
    <result column="MENU_HIGH" property="menuHigh" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MENU_ID, PARENT_ID, MODULE_ID, IMAGE_URL, MENU_NAME, MENU_DESCRIPTION, MENU_URL, 
    DISPLAY_NO, OPEN_MODULE, CLICK_TOTAL, ABBREVIATION, NESTED_SYS_TYPE, MENU_WIDE, MENU_HIGH, 
    TENANT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.sam.domain.TSamMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sam_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" resultMap="BaseResultMap" parameterType="com.ai.sam.domain.TSamMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sam_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sam_menu
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sam_menu
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByTenantId" parameterType="java.lang.String">
    delete from t_sam_menu
    where TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.sam.domain.TSamMenuExample" >
    delete from t_sam_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.sam.domain.TSamMenu" >
    insert into t_sam_menu (MENU_ID, PARENT_ID, MODULE_ID, 
      IMAGE_URL, MENU_NAME, MENU_DESCRIPTION, 
      MENU_URL, DISPLAY_NO, OPEN_MODULE, 
      CLICK_TOTAL, ABBREVIATION, NESTED_SYS_TYPE, 
      MENU_WIDE, MENU_HIGH, TENANT_ID
      )
    values (#{menuId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuDescription,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{displayNo,jdbcType=SMALLINT}, #{openModule,jdbcType=CHAR}, 
      #{clickTotal,jdbcType=BIGINT}, #{abbreviation,jdbcType=VARCHAR}, #{nestedSysType,jdbcType=VARCHAR}, 
      #{menuWide,jdbcType=VARCHAR}, #{menuHigh,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.sam.domain.TSamMenu" >
    insert into t_sam_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="moduleId != null" >
        MODULE_ID,
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuDescription != null" >
        MENU_DESCRIPTION,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="displayNo != null" >
        DISPLAY_NO,
      </if>
      <if test="openModule != null" >
        OPEN_MODULE,
      </if>
      <if test="clickTotal != null" >
        CLICK_TOTAL,
      </if>
      <if test="abbreviation != null" >
        ABBREVIATION,
      </if>
      <if test="nestedSysType != null" >
        NESTED_SYS_TYPE,
      </if>
      <if test="menuWide != null" >
        MENU_WIDE,
      </if>
      <if test="menuHigh != null" >
        MENU_HIGH,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null" >
        #{menuDescription,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayNo != null" >
        #{displayNo,jdbcType=SMALLINT},
      </if>
      <if test="openModule != null" >
        #{openModule,jdbcType=CHAR},
      </if>
      <if test="clickTotal != null" >
        #{clickTotal,jdbcType=BIGINT},
      </if>
      <if test="abbreviation != null" >
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="nestedSysType != null" >
        #{nestedSysType,jdbcType=VARCHAR},
      </if>
      <if test="menuWide != null" >
        #{menuWide,jdbcType=VARCHAR},
      </if>
      <if test="menuHigh != null" >
        #{menuHigh,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.sam.domain.TSamMenuExample" resultType="java.lang.Integer" >
    select count(*) from t_sam_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sam_menu
    <set >
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuDescription != null" >
        MENU_DESCRIPTION = #{record.menuDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.displayNo != null" >
        DISPLAY_NO = #{record.displayNo,jdbcType=SMALLINT},
      </if>
      <if test="record.openModule != null" >
        OPEN_MODULE = #{record.openModule,jdbcType=CHAR},
      </if>
      <if test="record.clickTotal != null" >
        CLICK_TOTAL = #{record.clickTotal,jdbcType=BIGINT},
      </if>
      <if test="record.abbreviation != null" >
        ABBREVIATION = #{record.abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="record.nestedSysType != null" >
        NESTED_SYS_TYPE = #{record.nestedSysType,jdbcType=VARCHAR},
      </if>
      <if test="record.menuWide != null" >
        MENU_WIDE = #{record.menuWide,jdbcType=VARCHAR},
      </if>
      <if test="record.menuHigh != null" >
        MENU_HIGH = #{record.menuHigh,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sam_menu
    set MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      MENU_DESCRIPTION = #{record.menuDescription,jdbcType=VARCHAR},
      MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      DISPLAY_NO = #{record.displayNo,jdbcType=SMALLINT},
      OPEN_MODULE = #{record.openModule,jdbcType=CHAR},
      CLICK_TOTAL = #{record.clickTotal,jdbcType=BIGINT},
      ABBREVIATION = #{record.abbreviation,jdbcType=VARCHAR},
      NESTED_SYS_TYPE = #{record.nestedSysType,jdbcType=VARCHAR},
      MENU_WIDE = #{record.menuWide,jdbcType=VARCHAR},
      MENU_HIGH = #{record.menuHigh,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.sam.domain.TSamMenu" >
    update t_sam_menu
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null" >
        MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayNo != null" >
        DISPLAY_NO = #{displayNo,jdbcType=SMALLINT},
      </if>
      <if test="openModule != null" >
        OPEN_MODULE = #{openModule,jdbcType=CHAR},
      </if>
      <if test="clickTotal != null" >
        CLICK_TOTAL = #{clickTotal,jdbcType=BIGINT},
      </if>
      <if test="abbreviation != null" >
        ABBREVIATION = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="nestedSysType != null" >
        NESTED_SYS_TYPE = #{nestedSysType,jdbcType=VARCHAR},
      </if>
      <if test="menuWide != null" >
        MENU_WIDE = #{menuWide,jdbcType=VARCHAR},
      </if>
      <if test="menuHigh != null" >
        MENU_HIGH = #{menuHigh,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.sam.domain.TSamMenu" >
    update t_sam_menu
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      DISPLAY_NO = #{displayNo,jdbcType=SMALLINT},
      OPEN_MODULE = #{openModule,jdbcType=CHAR},
      CLICK_TOTAL = #{clickTotal,jdbcType=BIGINT},
      ABBREVIATION = #{abbreviation,jdbcType=VARCHAR},
      NESTED_SYS_TYPE = #{nestedSysType,jdbcType=VARCHAR},
      MENU_WIDE = #{menuWide,jdbcType=VARCHAR},
      MENU_HIGH = #{menuHigh,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>