<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.sam.dao.TSamAuthElementMapper" >
  <resultMap id="BaseResultMap" type="com.ai.sam.domain.TSamAuthElement" >
    <id column="ELEMENT_ID" property="elementId" jdbcType="VARCHAR" />
    <result column="ELEMENT_NAME" property="elementName" jdbcType="VARCHAR" />
    <result column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="ELEMENT_CODE" property="elementCode" jdbcType="VARCHAR" />
    <result column="SUPER_ELEMENT_CODE" property="superElementCode" jdbcType="VARCHAR" />
    <result column="MENU_FLAG" property="menuFlag" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ELEMENT_URL" property="elementUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ELEMENT_ID, ELEMENT_NAME, MODULE_ID, ELEMENT_CODE, SUPER_ELEMENT_CODE, MENU_FLAG, 
    DESCRIPTION, ELEMENT_URL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.sam.domain.TSamAuthElementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sam_auth_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sam_auth_element
    where ELEMENT_ID = #{elementId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sam_auth_element
    where ELEMENT_ID = #{elementId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.sam.domain.TSamAuthElementExample" >
    delete from t_sam_auth_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.sam.domain.TSamAuthElement" >
    insert into t_sam_auth_element (ELEMENT_ID, ELEMENT_NAME, MODULE_ID, 
      ELEMENT_CODE, SUPER_ELEMENT_CODE, MENU_FLAG, 
      DESCRIPTION, ELEMENT_URL)
    values (#{elementId,jdbcType=VARCHAR}, #{elementName,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR}, 
      #{elementCode,jdbcType=VARCHAR}, #{superElementCode,jdbcType=VARCHAR}, #{menuFlag,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{elementUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.sam.domain.TSamAuthElement" >
    insert into t_sam_auth_element
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="elementId != null" >
        ELEMENT_ID,
      </if>
      <if test="elementName != null" >
        ELEMENT_NAME,
      </if>
      <if test="moduleId != null" >
        MODULE_ID,
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE,
      </if>
      <if test="superElementCode != null" >
        SUPER_ELEMENT_CODE,
      </if>
      <if test="menuFlag != null" >
        MENU_FLAG,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="elementUrl != null" >
        ELEMENT_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="elementId != null" >
        #{elementId,jdbcType=VARCHAR},
      </if>
      <if test="elementName != null" >
        #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="superElementCode != null" >
        #{superElementCode,jdbcType=VARCHAR},
      </if>
      <if test="menuFlag != null" >
        #{menuFlag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="elementUrl != null" >
        #{elementUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.sam.domain.TSamAuthElementExample" resultType="java.lang.Integer" >
    select count(*) from t_sam_auth_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sam_auth_element
    <set >
      <if test="record.elementId != null" >
        ELEMENT_ID = #{record.elementId,jdbcType=VARCHAR},
      </if>
      <if test="record.elementName != null" >
        ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.elementCode != null" >
        ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      </if>
      <if test="record.superElementCode != null" >
        SUPER_ELEMENT_CODE = #{record.superElementCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuFlag != null" >
        MENU_FLAG = #{record.menuFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.elementUrl != null" >
        ELEMENT_URL = #{record.elementUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sam_auth_element
    set ELEMENT_ID = #{record.elementId,jdbcType=VARCHAR},
      ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      SUPER_ELEMENT_CODE = #{record.superElementCode,jdbcType=VARCHAR},
      MENU_FLAG = #{record.menuFlag,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      ELEMENT_URL = #{record.elementUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.sam.domain.TSamAuthElement" >
    update t_sam_auth_element
    <set >
      <if test="elementName != null" >
        ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="superElementCode != null" >
        SUPER_ELEMENT_CODE = #{superElementCode,jdbcType=VARCHAR},
      </if>
      <if test="menuFlag != null" >
        MENU_FLAG = #{menuFlag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="elementUrl != null" >
        ELEMENT_URL = #{elementUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ELEMENT_ID = #{elementId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.sam.domain.TSamAuthElement" >
    update t_sam_auth_element
    set ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      SUPER_ELEMENT_CODE = #{superElementCode,jdbcType=VARCHAR},
      MENU_FLAG = #{menuFlag,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ELEMENT_URL = #{elementUrl,jdbcType=VARCHAR}
    where ELEMENT_ID = #{elementId,jdbcType=VARCHAR}
  </update>
</mapper>